@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-background: 243, 245, 255;
    --bg-primary: 208, 216, 255;
    --bg-secondary: 208, 216, 255;

    --text-main: 50, 36, 36;
    /** for warm designs **/
    --text-inverted: 60, 43, 43;
    --text-color: 43, 54, 65;
    --text-alternative: 70, 55, 45;

    --border-primary: 208, 216, 255;
    --border-secondary: 253, 220, 138;
  }

  body {
    @apply font-inter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    scroll-behavior: smooth;
  }

  .custom-progress-container {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: rgba(var(--bg-primary), 0.3);
  }

  .custom-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgb(var(--text-color));
    width: 0;
    transition: width 0.2s;
  }
}